<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Zume Menu Exercise Template</title>
    <link rel="stylesheet" href="./icomoon.css">
    <link rel="stylesheet" href="./order-page.css">


</head>
<body>
    <div id="app" class="flex">
        <div class="menu-list-container">
            <h1 class="zume-font">{{ title }}</h1>
            <li class="list-item" v-for="product in productMap" :key="product.id">
                <menu-item @order-product="orderProduct($event)" v-bind:product="product"></menu-item>
            </li>
        </div>
        <div class="order-summary-container">
            <h2 class="zume-font">{{ summaryTitle }}</h2>
            <li class="list-item" v-for="orderItem in orderedProductMap" :key="orderItem.product.id">
                <order-list @delete-order="deleteOrder($event)" @remove-product="removeProduct($event)" @order-product="orderProduct($event)" 
                v-bind:order-item="orderItem"></order-list>
            </li>
            <div class="bill-details">
                <order-summary v-bind:ordered-product-map="orderedProductMap" v-bind:summary-info="summaryInfo"></order-summary>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
    <script src="js/main.js"></script>
    <script>

    </script>
</body>
</html>